<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--suppress ALL -->
<mapper namespace="com.bigdata.xwork.dao.mapper.WorkActionInstanceMapper">
    <resultMap type="com.bigdata.xwork.dao.entity.WorkSchedulerInstance" id="BaseResultMap">
        <id column="instance_id" property="instanceid"/>
        <result column="flow_name" property="flowName"/>
        <result column="scheduler_name" property="schedulerName"/>
        <result column="scheduler_id" property="schedulerid"/>
        <result column="run_time" property="runTime"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="cron_str" property="cronStr"/>
        <result column="config_param_json" property="configParamJSON"/>
        <result column="run_param_json" property="runParamJSON"/>
        <result column="status" property="status"/>
        <collection property="workFlowInstances" columnPrefix="w_"
                    ofType="com.bigdata.xwork.dao.entity.WorkFlowInstance">
            <id column="instance_id" property="instanceid"/>
            <result column="scheduler_id" property="schedulerid"/>
            <result column="flow_name" property="flowName"/>
            <result column="status" property="status"/>
            <result column="run_time" property="runTime"/>
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
            <result column="run_param_json" property="runParamJSON"/>
            <result column="config_param_json" property="configParamJSON"/>
            <result column="work_flow_json" property="workFlowInfoJSON"/>
            <result column="execute_ip" property="executeIP"/>
            <collection property="workActionInstances" columnPrefix="a_"
                        ofType="com.bigdata.xwork.dao.entity.WorkActionInstance">
                <id column="instance_id" property="instanceid"/>
                <result column="flow_name" property="flowName"/>
                <result column="action_name" property="actionName"/>
                <result column="config_param_json" property="configParamJSON"/>
                <result column="run_param_json" property="runParamJSON"/>
                <result column="out_put" property="outPutJSON"/>
                <result column="status" property="status"/>
                <result column="run_time" property="runTime"/>
                <result column="start_time" property="startTime"/>
                <result column="end_time" property="endTime"/>
                <result column="condition_pass" property="conditionPass"/>
                <result column="flow_instanceid" property="flowInstanceid"/>
                <result column="clazz" property="clazz"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="BaseQueryResult"
               type="com.bigdata.xwork.dao.entity.WorkActionInstance">
        <id column="instance_id" property="instanceid"/>
        <result column="flow_name" property="flowName"/>
        <result column="action_name" property="actionName"/>
        <result column="config_param_json" property="configParamJSON"/>
        <result column="run_param_json" property="runParamJSON"/>
        <result column="out_put" property="outPutJSON"/>
        <result column="status" property="status"/>
        <result column="run_time" property="runTime"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="condition_pass" property="conditionPass"/>
        <result column="flow_instanceid" property="flowInstanceid"/>
        <result column="clazz" property="clazz"/>
    </resultMap>
    <resultMap id="workActionInstanceForWorkSchedulerInstanceId"
               type="com.bigdata.xwork.dao.entity.WorkFlowInstance">
        <id column="instance_id" property="instanceid"/>
        <result column="scheduler_id" property="schedulerid"/>
        <result column="flow_name" property="flowName"/>
        <result column="status" property="status"/>
        <result column="run_time" property="runTime"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="run_param_json" property="runParamJSON"/>
        <result column="config_param_json" property="configParamJSON"/>
        <result column="work_flow_json" property="workFlowInfoJSON"/>
        <result column="execute_ip" property="executeIP"/>
        <collection property="workActionInstances" columnPrefix="a_"
                    ofType="com.bigdata.xwork.dao.entity.WorkActionInstance">
            <id column="instance_id" property="instanceid"/>
            <result column="flow_name" property="flowName"/>
            <result column="action_name" property="actionName"/>
            <result column="config_param_json" property="configParamJSON"/>
            <result column="run_param_json" property="runParamJSON"/>
            <result column="out_put" property="outPutJSON"/>
            <result column="status" property="status"/>
            <result column="run_time" property="runTime"/>
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
            <result column="condition_pass" property="conditionPass"/>
            <result column="flow_instanceid" property="flowInstanceid"/>
            <result column="clazz" property="clazz"/>
        </collection>
    </resultMap>
    <sql id="base_column">
        SELECT
            a.flow_name         AS a_flow_name,
            a.action_name       AS a_action_name,
            a.config_param_json AS a_config_param_json,
            a.run_param_json    AS a_run_param_json,
            a.out_put           AS a_out_put,
            a.STATUS            AS a_status,
            a.run_time          AS a_run_time,
            a.start_time        AS a_start_time,
            a.end_time          AS a_end_time,
            a.condition_pass    AS a_condition_pass,
            a.instance_id       AS a_instance_id,
            a.flow_instanceid   AS a_flow_instanceid,
            a.clazz             AS a_clazz,
            s.flow_name,
            s.scheduler_name,
            s.scheduler_id,
            s.run_time,
            s.start_time,
            s.end_time,
            s.submiter_id,
            s.cron_str,
            s.config_param_json,
            s.run_param_json,
            s.status,
            s.instance_id,
            w.scheduler_id      AS w_scheduler_id,
            w.flow_name         AS w_flow_name,
            w.STATUS            AS w_status,
            w.run_time          AS w_run_time,
            w.start_time        AS w_start_time,
            w.end_time          AS w_end_time,
            w.submiter_id       AS w_submiter_id,
            w.run_param_json    AS w_run_param_json,
            w.config_param_json AS w_config_param_json,
            w.work_flow_json    AS w_work_flow_json,
            w.instance_id       AS w_instance_id,
            w.execute_ip        AS w_execute_ip
        FROM
            xwork.work_flow_scheduler_instance s
            RIGHT JOIN xwork.work_flow_instance w ON s.scheduler_id = w.scheduler_id
            RIGHT JOIN xwork.work_action_instance a ON w.instance_id = a.flow_instanceid
    </sql>
    <select id="queryAll" resultMap="BaseResultMap">
        <include refid="base_column"/>
    </select>
    <select id="queryActionInstancesForWorkFlowInstanceId" resultMap="workActionInstanceForWorkSchedulerInstanceId">
        SELECT
            a.flow_name         AS a_flow_name,
            a.action_name       AS a_action_name,
            a.config_param_json AS a_config_param_json,
            a.run_param_json    AS a_run_param_json,
            a.out_put           AS a_out_put,
            a.STATUS            AS a_status,
            a.run_time          AS a_run_time,
            a.start_time        AS a_start_time,
            a.end_time          AS a_end_time,
            a.condition_pass    AS a_condition_pass,
            a.instance_id       AS a_instance_id,
            a.flow_instanceid   AS a_flow_instanceid,
            w.scheduler_id,
            w.flow_name,
            w.STATUS,
            w.run_time,
            w.start_time,
            w.end_time,
            w.submiter_id,
            w.run_param_json,
            w.config_param_json,
            w.work_flow_json,
            w.instance_id,
            w.execute_ip
        FROM xwork.work_flow_instance w
            JOIN xwork.work_action_instance a ON w.instance_id = a.flow_instanceid
        WHERE w.instance_id = #{workFlowInstanceId}
    </select>
    <select id="queryActionInstancesForInstanceId" resultMap="BaseQueryResult">
        SELECT *
        FROM xwork.work_action_instance
        WHERE flow_instanceid = #{instanceid}
    </select>

    <select id="queryActionInstancesForScheduler" resultMap="BaseResultMap">
        <include refid="base_column"/>
        WHERE s.instance_id = #{schedulerInstanceId}
    </select>

    <select id="queryActionByWFidAndActionName" resultMap="BaseQueryResult">
        SELECT
            flow_name,
            action_name,
            config_param_json,
            run_param_json,
            out_put,
            `status`,
            run_time,
            start_time,
            end_time,
            condition_pass,
            instance_id,
            flow_instanceid
        FROM xwork.work_action_instance
        WHERE flow_instanceid = #{wfInstanceid} AND action_name = #{actionName}
    </select>

    <select id="queryByActionId" resultMap="BaseQueryResult">
        SELECT
            flow_name,
            action_name,
            config_param_json,
            run_param_json,
            out_put,
            `status`,
            run_time,
            start_time,
            end_time,
            condition_pass,
            instance_id,
            flow_instanceid,
            clazz
        FROM xwork.work_action_instance
        WHERE instance_id = #{id}
    </select>
</mapper>
